.grid-container
{
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    background-color: gray;
    font-size: 20px;
    grid-column-gap:10px;
    grid-template-rows:auto auto auto ;
    grid-row-gap:10px;
    height: 300px;
    align-content: center;
    justify-content: center;
}

@media screen and ( max-width : 767px )
{
    .div-1
    {
        background-color:darkgreen;
    
    }
}
@media screen and ( min-width : 768px) ,( max-width:1024px )
{
    .div-1
    {
        background-color:#08103a;
    
    }   
} 
@media screen and ( min-width : 1024px )
{
    .div-1
    {
        background-color:#c72c34;
        
    }
}