form
{
   border-color: black;
   border: 2px solid;
   box-sizing: border-box;
   height: 300px;
   width: 300px;
   margin: 0 auto;
   margin-top: 0;
   
}
.singup
{
    text-align: right;
    float: right;
 
}
h1
{
    font-style: oblique;
    text-align: center;
}
span
{
    color: rgb(233, 94, 94);
    text-align: center;
}
.login
{
    color:black;
    background-color: coral;
    width: 100px;
    height: 30px;
    text-align: center;
}
.label
{
    text-align: center;
}