.Flex-container
{
   font-size: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px;
}
.Flex-container > div
{
    background-color: rgb(196, 182, 238); 
    width: 300px;
    margin: 10px;
}