.grid-container
{
    display: grid;
    grid-template-columns:110px 100px  120px 80px;
    background-color: gray;
    font-size: 20px;
    padding:10px;
    grid-column-gap:10px;
    grid-template-rows: 30px 50px  60px;
    grid-row-gap:10px;
    height: 200px;
}
.grid-container > div
{
  background-color: rgb(209, 145, 145);
  height: 100px;
  width: 200px;
}