.grid-container
{
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    background-color: gray;
    font-size: 20px;
    grid-column-gap:10px;
    grid-template-rows:auto auto auto ;
    grid-row-gap:10px;
    height: 300px;
    align-content: center;
    justify-content: center;
}
.grid-container > div
{
    background-color: rgb(209, 145, 145);
}
.div-1
{
    grid-area: 2/1/span 2 /span 2;
}