.container
{
    height: 100%;
    width: 80%;
    border: 15px solid green;
    padding: 50px;
    margin: 20px; 
    
}
#heading
{
    font-family: 'Courier New', Courier, monospace;
}
.peragraph
{
    color: rgb(0, 68, 255);
}
.text
{
    padding: 2px;
    border:30px solid;
    color:saddlebrown;
    margin: 20px;
}